<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.njfu.mapper.UserMapper">
    <resultMap type="com.njfu.entity.User" id="MessageResult">
        <id column="nid" jdbcType="INTEGER" property="id"/>
        <result column="account" jdbcType="VARCHAR" property="account"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="work" jdbcType="VARCHAR" property="work"/>
        <result column="class" jdbcType="VARCHAR" property="nclass"/>
    </resultMap>

    <select id="Query"  resultMap="MessageResult">
        SELECT * FROM user_admin
    </select>

    <insert id="insert"  parameterType="com.njfu.entity.User" >
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            select seq_on_test.NEXTVAL from dual
        </selectKey>
        INSERT INTO user_admin (nid, account, password, work, class) VALUES (#{id}, #{account}, #{password}, #{work}, #{nclass})
    </insert>

    <delete id="delete" parameterType="INTEGER" >
        DELETE FROM user_admin WHERE nid = #{id}
    </delete>

    <select id="getTeacherList"  parameterType="com.njfu.entity.User"  resultType="String">
        SELECT account FROM user_admin WHERE class = #{nclass} AND work = '1'
    </select>

    <update id="update_pwd" parameterType="com.njfu.entity.User" >
        UPDATE user_admin SET account = #{account}, password = #{password}
          WHERE nid = #{id}
    </update>


    <select id="findUserByAccount"  parameterType="String" resultMap="MessageResult">
        SELECT * FROM user_admin WHERE account= #{account}
    </select>


    <select id="findUserByOther"  parameterType="com.njfu.entity.User" resultMap="MessageResult">
        SELECT * FROM user_admin
        <where>
            <if test ="account !=null">
                account= #{account}
            </if>
            <if test ="work !=null">
                and work= #{work}
            </if>
        </where>
    </select>


    <resultMap type="com.njfu.entity.Homework" id="HomeworkResult">
        <id column="nid" jdbcType="INTEGER" property="id"/>
        <result column="t_account" jdbcType="VARCHAR" property="t_account"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="filename" jdbcType="VARCHAR" property="filename"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
    </resultMap>


    <insert id="insertHomework"  parameterType="com.njfu.entity.Homework">
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            select seq_on_test.NEXTVAL from dual
        </selectKey>
        INSERT INTO homework (nid, t_account, code, filename, address) VALUES ( #{id}, #{t_account}, #{code}, #{filename}, #{address})
    </insert>

    <select id="getHomeworkList"  parameterType="String"  resultType="String">
        SELECT filename FROM homework
        WHERE t_account = #{t_account}

    </select>

    <select id="findHomeworkByOther"  parameterType="com.njfu.entity.Homework"  resultMap="HomeworkResult">
        SELECT * FROM homework
        <where>
            <if test ="t_account !=null">
                t_account= #{t_account}
            </if>
            <if test ="filename !=null">
                and filename= #{filename}
            </if>
        </where>
    </select>


</mapper>