<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="shortcut icon" href="../static/images/favicon-32.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="../static/css/icon.css">
    <link rel="stylesheet" href="../static/css/easy_index.css">

    <title>管理员界面</title>

</head>
<body onload="jumpLogin()" style="background-color:#3e2723;">
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-4 column pull-left" id="logo-title">
                    <h1>
                        管理员操作界面
                    </h1>
                </div>
                <div class="col-md-2 column pull-right">
                    <div>
                        <img id="top-logo" src="../static/images/logo.png">
                        <span id="logo-text-en">PRD &nbsp;Tech</span>
                    </div>
                </div>
            </div>
            <br>
            <ul class="nav nav-pills">
                <li >
                    <a href="manager.html">首页</a>
                </li>
                <li >
                    <a href="manager_insert1.html">文件导入添加学生</a>
                </li>
                <li>
                    <a href="manager_insert2.html">文件导入添加老师</a>
                </li>
                <li >
                    <a href="insert.html">单个添加用户</a>
                </li>
                <li class="active">
                    <a href="delete.html">删除用户</a>
                </li>
                <li class="dropdown pull-right disabled">
                    <a><input id="user_name" value="未登录" readonly="true"/></a>
                </li>
                <li class="dropdown pull-right disabled">
                    <a><input id="user_id" value="" readonly="true"/></a>
                </li>
                <li class="dropdown pull-right disabled">
                    <a href="#"></a>
                </li>
                <li class="dropdown pull-right">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">个人设置<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">修改信息</a>
                        </li>
                        <li>
                            <a href="update_pwd.html">修改密码</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a onclick="deleteCookies()">退出登录</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<br>


<div class="container" >
    <div class="row">
        <div class="col-md-3 column">
        </div>
        <div class="col-md-5 column">
            <div class="jumbotron">
                <div class="input-group">
                    <span class="input-group-addon"><i class="iconfont_2">&#xe611;</i></span>
                    <input id="id" type="text" class="form-control" v-model="id" placeholder="ID">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="account" type="text" class="form-control" v-model="account" placeholder="账号">
                </div>
                <div class="input-group">
                    <label class="radio-inline">
                        <input type="radio" name="radio" id="radio1" value="学生" checked> 学生
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="radio" id="radio2"  value="老师"> 老师
                    </label>
                </div>
                <div class="input-group"><button id="login-button" onclick="userLogin()" type="submit" class="btn btn-primary">确定</button></div>

            </div>
        </div>
        <div class="col-md-3 column">
        </div>
    </div>
</div>


<div id="login-alert" class="alert alert-info alert-dismissible fade in" role=alert>
    <button  type="button" class="close" data-dismiss="alert" aria-label="Close" >
        <span aria-hidden="true">&times;</span>
    </button>
    <span>alert content</span>
</div>


<script src="../static/js/jquery-3.2.1.min.js"></script>
<script src="../static/js/js.cookie.js"></script>
<script src="../static/js/vue.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<script src="./constant.js"></script>

<script>
    <!--跳转-->
    function jumpLogin() {
        if(!Cookies.get('t_id')){
            alert("您还未登陆！请登陆");
            window.open('login.html','_self');
        }else{
            getUser();
        }
    }

    function getUser(){
        $('#user_id').val(Cookies.get('t_id'));
        $('#user_name').val(Cookies.get('t_account'));
    }

    function deleteCookies() {
        Cookies.remove('t_id', { path: '' });
        Cookies.remove('t_account', { path: '' });
        window.open('login.html','_self');
    }

    $(document).ready(function(){
        $("#id").keydown(function(event){
            if(event.which === 13)
                $("#account")[0].focus();
        });
        $("#account").keydown(function(event){
            if(event.which === 13)
                $("#nclass")[0].focus();
        });
        $("#nclass").keydown(function(event){
            if(event.which === 13)
                $("#login-button").click(userLogin());
        });
    });

        function userLogin() {
            var Id, Account, Radio;
            Id = $('#id').val();
            Account = $('#account').val();
            Radio = $('input[name="radio"]:checked').val();
	
			var objJson = {
                "id":Id,
				"account":Account,
                "radio":Radio
			};
			

			if(Id!=null && Id!="" &&  Account!=null && Account!="" ){
				$.post("http://"+ getLocalIP() +":8080/delete",
					JSON.stringify(objJson),
					function(data) {
					   if(data.code == 2){
						   alert(data.msg);
                           location.reload();//重新加载
					   }
					   else
						   alert(data.msg);
					},
					"JSON"
				)
			
			}else{
				alert("关键输入为空！");
			}

        }

</script>

</body>
</html>