<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/materialize/css/materialize.min.css" media="screen,projection">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="shortcut icon" href="../static/images/favicon-32.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/icon.css">

    <title>老师界面</title>

</head>

<body onload="jumpLogin()" style="background-color:#3e2723;">
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-4 column pull-left" id="logo-title">
                    <h1>
                        老师管理界面
                    </h1>
                </div>
                <div class="col-md-2 column pull-right">
                    <div>
                        <img id="top-logo" src="../static/images/logo.png">
                        <span id="logo-text-en">PRD &nbsp;Tech</span>
                    </div>
                </div>
            </div>
            <ul class="nav nav-pills">
                <li>
                    <a href="index_student.html">首页</a>
                </li>
                <li>
                    <a href="upload_teacher.html">布置作业</a>
                </li>
                <li  class="active">
                    <a href="download_teacher.html">审批作业</a>
                </li>
                <li class="dropdown pull-right">
                    <input id="user_name" value="未登录" readonly="true"/>
                </li>
                <li class="dropdown pull-right">
                    <input id="user_id" value="" readonly="true"/>
                </li>
                <li class="dropdown pull-right disabled">
                    <a href="#"></a>
                </li>
                <li class="dropdown pull-right">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">个人设置<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">修改信息</a>
                        </li>
                        <li>
                            <a href="update_pwd.html">修改密码</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a onclick="deleteCookies()">退出登录</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-1 column">

        </div>
        <div class="col-md-10 column">
            <div class="jumbotron">
                <make_form>

                </make_form>
                <br/><br/><br/><br/>
                <aaa>

                </aaa>
                <button type="button" onclick="getExcel()" id="en_print" class="btn btn-warning pull-right" data-toggle="tooltip" data-placement="left" title="请确定打印此表"><i class="glyphicon glyphicon-ok">确定打印</i></button>
            </div>
        </div>
        <div class="col-md-1 column">
            <div class="modal fade " id="modal-container-287808" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="background: none">
                <div class="modal-dialog" role="document" style="width: 350px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">
                                正在评价......
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-star"></i></span>
                                <select class="form-control" name="select_level"  id="select_level">
                                    <option>----请选择等第----</option>
                                    <option>优</option>
                                    <option>良</option>
                                    <option>及格</option>
                                    <option>不及格</option>
                                    <option>退回</option>
                                </select>
                            </div>
                            <div><label>&nbsp;</label>
                                <input id="select_reason" name="select_reason" type="text" placeholder="原因"></div>
                            <ccc>

                            </ccc>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button onclick="true_evaluate()" type="submit" class="btn btn-primary">保存</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>

<!--JavaScript below-->
<script src="../static/js/jquery-3.2.1.min.js"></script>
<script src="../static/materialize/js/materialize.min.js"></script>
<script src="../static/js/js.cookie.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<script src="./constant.js"></script>
<script src="../static/js/jquery.table2excel.js"></script>

<script>

    /*网页生成时，验证是否登录的跳传*/
    function jumpLogin() {
        $("#en_print").hide();
        if(!Cookies.get('t_id')){
            alert("您还未登陆！请登陆");
            window.open('login.html','_self');
        }else{
            getUser();
            getSelect_Info();
        }
    }

    <!-- 获取登录信息，并修改登录栏-->
    function getUser(){
        $('#user_name').val(Cookies.get('t_account'));
        $('#user_id').val(Cookies.get('t_id'));
    }

    <!-- 推出登录，删除存储的cookies-->
    function deleteCookies() {
        Cookies.remove('t_id', { path: '' });
        Cookies.remove('t_account', { path: '' });
        window.open('login.html','_self');
    }

    <!-- 生成学生之前上传作业的表格-->
    function getTable_Info(C_no_name,data){

        $("#table_info").remove();
        var $table=$('<table class="table table-bordered table-condensed" id="table_info"></table>');
        $("aaa").append($table);

        var $thead=$('<thead></thead>');
        var $trs=$('<tr class="info"></tr>');
        /*var $th1=$('<th>课程</th>');
        var $th2=$('<th>作业介绍</th>');*/
        var $th3=$('<th>学生学号</th>');
        var $th4=$('<th>学生姓名</th>');
        var $th2=$('<th>作业等级</th>');
        var $th44=$('<th>作业评语</th>');
        var $th5=$('<th class="evaluate" style="width: 100px;">评价学生作业</th>');
        var $th6=$('<th class="evaluate" style="width: 100px;">下载学生作业</th>');
        var $tbody=$('<tbody></tbody>');
        /*$trs.append($th1);
        $trs.append($th2);*/
        $trs.append($th3);
        $trs.append($th4);
        $trs.append($th2);
        $trs.append($th44);
        $trs.append($th5);
        $trs.append($th6);
        $thead.append($trs);
        $table.append($thead);
        $table.append($tbody);

        var count = 0;//表格颜色控制
        for(var i=0;i<data.scores.length;i++) {

            if (count % 2 == 0) {
                var $tr = $('<tr></tr>');
            } else {
                var $tr = $('<tr class="success"></tr>');
            }
            $table.append($tr);

            /*var $td1 = $('<td>' + C_no_name + '</td>');
            $tr.append($td1);
            */
            var $td3 = $('<td>' + data.scores[i].s_id + '</td>');
            $tr.append($td3);
            var $td4 = $('<td>' + data.scores[i].c_no_hw + '</td>');
            $tr.append($td4);
            var $td2 = $('<td style="font-size: 18px;color: #0f0f0f;font-weight: bold;">' + testGet_score(data.scores[i].get_score) + '</td>');
            $tr.append($td2);
            var $td44 = $('<td>' + testReason(data.scores[i].reason) + '</td>');
            $tr.append($td44);

            var $td5 = $('<td class="evaluate"><button id="' + data.scores[i].s_id+ '"  name="' + data.c_no_hw+ '" onclick="make_evaluate(this)" class="btn btn-small btn-info" >' +
                '<i class="glyphicon glyphicon-pencil">评价</i></button></td>');
            $tr.append($td5);
            var $td6 = $('<td class="evaluate">' +
                '<button name="' + data.scores[i].file_no  + '" onclick="Start_Download(this)" type="submit" class="btn btn-small btn-warning"' +
                ' title="下载提示" data-container="body" data-toggle="popover" data-placement="right" data-content="' +data.scores[i].nid +'个文件正在下载" >' +
                '<i class="glyphicon glyphicon-download-alt">下载</i>' +
                '</button></td>');
            $tr.append($td6);

            count++;
        }
        $("#en_print").show();

    }

    function testReason(getReason) {
        if(getReason == null || getReason==""){
            return "无";
        }
        return getReason;
    }

    function testGet_score(getScore) {
        if(getScore == null || getScore==""){
            return "等待评价";
        }
        return getScore;
    }

    <!--老师评价学生作业-->
    function true_evaluate(){
        var S_id = $('#s_id').val();
        var C_no_hw = $('#c_no_hw').val();
        var Get_score = $('#select_level').val();
        var Reason = $('#select_reason').val();

        var objJson = {
            "s_id":S_id,
            "c_no_hw":C_no_hw,
            "get_score":Get_score,
            "reason":Reason
        };
        console.log(objJson);
        if(Get_score!=null && Get_score!="" && Get_score!="----请选择等第----"){
            $.post("http://"+ getLocalIP() +":8080/teacher_evaluate",
                JSON.stringify(objJson),
                function(data) {
                    if(data.code==12){
                        console.log(data);
                        Student_HW_Info();
                        //location.reload();//重新加载
                    }else {
                        alert(data.msg);
                    }
                },
                "JSON"
            )
        }else{
            alert("未评价");
        }
    }

    <!--保存对象到评分提示框-->
    function make_evaluate(obj) {
        var level = $(obj).parent().parent("tr").children('td').eq(2).text();//获取表格
        if(level=="等待评价"|| level=="等待重新评价"){
            $('#modal-container-287808').modal('show');

            var $div=$('<div></div>');
            $("ccc").append($div);

            var $S_id=$('<input type="hidden" id="s_id" name="s_id" value="'+ obj.id+'"/>');
            var $C_no_hw=$('<input type="hidden" id="c_no_hw" name="c_no_hw" value="'+ obj.name+'"/>');
            $div.append($S_id);
            $div.append($C_no_hw);
        }else{
            if(level=="未提交"){
                alert("学生未提交作业，无法点评！");
            }else{
                alert("无法再次评价");
            }

        }

    }

    <!--老师获取学生作业信息记录-->
    function Student_HW_Info(){
        var T_id = Cookies.get('t_id');
        var C_no_hw = $('#select_c_no_hw').val();
        var C_no_name = $('#select_c_no_hw').find("option:selected").attr("data-username");//被选中的课程名称

        $("#select_lable1").html(C_no_name);//改变lable内容
        $("#select_lable2").html($('#select_c_no_hw').find("option:selected").text());//改变lable内容

        var objJson = {
            "t_id":T_id,
            "c_no_hw":C_no_hw
        };

        if(C_no_hw == "---请选择任务---" ){
            alert("选择错误");
        }else{
            if(T_id!=null && T_id!="" ){
                $('#modal-container-287808').modal('hide');

                $.post("http://"+ getLocalIP() +":8080/getClass_Homework",
                    JSON.stringify(objJson),
                    function(data) {
                        if(data.code==14){

                            console.log(data);
                            getTable_Info(C_no_name,data.data);
                        }else {
                            alert(data.msg);
                        }
                    },
                    "JSON"
                )
            }else{
                alert("未登录！");
            }

        }

    }


    <!-- 获取文件下载链接，准备下载-->
    function Start_Download(obj) {

        var level = $(obj).parent().parent("tr").children('td').eq(2).text();//获取表格
        if(level=="未提交"){
            alert("学生未提交作业，无法下载！");
        }else{
            var File_no = obj.name;
            var objJson = {
                "file_no":File_no
            };

            $.post("http://"+ getLocalIP() +":8080/teacher_student_download",
                JSON.stringify(objJson),
                function(data) {
                    if(data.code==7){

                        $("[data-toggle='popover']").popover();
                        for(var i=0;i<data.data.length;i++){
                            //循环下载
                            downloadFile(data.data[i].file_url,data.data[i].name);
                        }
                    }else{
                        alert(data.msg);
                    }
                },
                "JSON"
            )
        }

    }

    <!-- 真正下载-->
    //会打开一个空白页下载，然后空白页消失，用户体验不好
    function downloadFile(url,file_name) {
        var newURL = "http://"+ getLocalIP() +":8081/download/" + url;
        console.log(newURL);
        const a = document.createElement('a');
        a.setAttribute('href', newURL);
        a.setAttribute('download', file_name);
        a.click();
        //设置时间关闭popover
        setTimeout(function(){$("[data-toggle='popover']").popover('hide');},3000);
    }



    <!--获取老师布置的作业，以便上传作业选择-->
    function getSelect_Info() {
        var Account=Cookies.get('t_account');
        var Id=Cookies.get('t_id');

        var objJson = {
            "account":Account,
            "id":Id
        };
        if(Account!=null && Account!=""){
            $.post("http://"+ getLocalIP() +":8080/teacher_help_upload",
                JSON.stringify(objJson),
                function(data) {
                    if(data.code==10){
                        console.log(data);
                        getSelect(data);
                    }else {
                        alert(data.msg);
                    }
                },
                "JSON"
            )
        }else{
            alert("未登录！");
        }
    }


    <!--生成老师任务的下拉列表，以便生成学生作业信息-->
    function getSelect(data) {

        var $form = $('<div class="navbar-form navbar-left" role="search"></div>');
        $("make_form").append($form);

        var $select=$('<select class="form-control" id="select_c_no_hw" style="width: 200px"></select>');
        $form.append($select);
        var $op0=$('<option>---请选择任务---</option>');
        $select.append($op0);
        for(var i=0;i<data.data.length;i++){
            var $op1=$('<option value="'+data.data[i]['c_no_hw']+'" data-username="'+data.data[i]['c_no']+'">'+data.data[i]['message']+'</option>');
            $select.append($op1);
        }

        var $button = $('<d>&nbsp;&nbsp;</d><button class="btn btn-group" id="btn-upload" onclick="Student_HW_Info()"><i class="iconfont">&#xe60a;</i>检索</button>');
        $form.append($button);
        var $lable1 = $('<d>&nbsp;</d><lable class="label label-success pull-right" id="select_lable1" style="font-size: 23px;color: #0f0f0f;font-weight: bold;"></lable>');
        $form.append($lable1);
        var $lable2 = $('<d>&nbsp;</d><lable class="label label-info pull-right" id="select_lable2" style="font-size: 23px;color: #0f0f0f;font-weight: bold;"></lable>');
        $form.append($lable2);
    }

    <!--导出excel-->
    function getExcel() {
        var fileName=document.getElementById("select_lable2").innerHTML;
        console.log(fileName);

        console.log(1);
        $("#table_info").table2excel({
            exclude: ".evaluate",
            name: "Excel Document Name",
            filename: fileName,
            exclude_img: true,
            exclude_links: true,
            exclude_inputs: true
        });

    }

</script>
</body>
</html>