<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../static/materialize/css/materialize.min.css" media="screen,projection">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">

    <link rel="shortcut icon" href="../static/images/favicon-32.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="../static/css/index.css">
    <title>老师界面</title>
    <style>


        #btn-upload{
            font-size: 14px;
            font-weight: normal;
            text-align: center;
        }

    </style>

</head>

<body onload="jumpLogin()" style="background-color:#3e2723;">
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-4 column pull-left" id="logo-title">
                    <h1>
                        老师管理界面
                    </h1>
                </div>
                <div class="col-md-2 column pull-right">
                    <div>
                        <img id="top-logo" src="../static/images/logo.png">
                        <span id="logo-text-en">PRD &nbsp;Tech</span>
                    </div>
                </div>
            </div>
            <ul class="nav nav-pills">
                <li>
                    <a href="index_student.html">首页</a>
                </li>
                <li class="active">
                    <a href="upload_teacher.html">布置作业</a>
                </li>
                <li >
                    <a href="download_teacher.html">审批作业</a>
                </li>
                <li class="dropdown pull-right">
                    <input id="user_name" value="未登录" readonly="true"/>
                </li>
                <li class="dropdown pull-right">
                    <input id="user_id" value="" readonly="true"/>
                </li>
                <li class="dropdown pull-right disabled">
                    <a href="#"></a>
                </li>
                <li class="dropdown pull-right">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">个人设置<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">修改信息</a>
                        </li>
                        <li>
                            <a href="update_pwd.html">修改密码</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a onclick="deleteCookies()">退出登录</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-8 column">
            <div class="jumbotron">
                <aaa>

                </aaa>
            </div>
        </div>
        <div class="col-md-4 column">
            <make_form>

            </make_form>
        </div>
    </div>

</div>

<!--JavaScript below-->
<script src="../static/js/jquery-3.2.1.min.js"></script>
<script src="../static/materialize/js/materialize.min.js"></script>
<script src="../static/js/js.cookie.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<script src="./constant.js"></script>
<script src="../static/js/jquery.form.min.js" crossorigin="anonymous"></script>


<script>

    /*网页生成时，验证是否登录的跳传*/
    function jumpLogin() {
        if(!Cookies.get('t_id')){
            alert("您还未登陆！请登陆");
            window.open('login.html','_self');
        }else{
            getUser();
            getUpload_Info();
            makeForm();
            getSelect_Info();
        }
    }

    <!-- 获取登录信息，并修改登录栏-->
    function getUser(){
        $('#user_name').val(Cookies.get('t_account'));
        $('#user_id').val(Cookies.get('t_id'));
    }

    <!-- 推出登录，删除存储的cookies-->
    function deleteCookies() {
        Cookies.remove('t_id', { path: '' });
        Cookies.remove('t_account', { path: '' });
        window.open('login.html','_self');
    }

    <!-- 生成老师之前上传任务的表格-->
    function getTable_Info(data){

        var $table=$('<table class="table table-bordered table-condensed"></table>');
        $("aaa").append($table);

        var $thead=$('<thead></thead>');
        var $trs=$('<tr class="info"></tr>');
        /*var $th1=$('<th>老师账号</th>');*/
        var $th2=$('<th>课程名称</th>');
        var $th3=$('<th>作业编码</th>');
        var $th4=$('<th>作业次数</th>');
        var $th5=$('<th>作业内容介绍</th>');
        var $th55=$('<th>创建时间</th>');
        var $th6=$('<th>是否删除</th>');
        var $tbody=$('<tbody></tbody>');
        /*$trs.append($th1);*/
        $trs.append($th2);
        $trs.append($th3);
        $trs.append($th4);
        $trs.append($th5);
        $trs.append($th55);
        $trs.append($th6);
        $thead.append($trs);
        $table.append($thead);
        $table.append($tbody);

        var count = 0;//表格颜色控制
        for(var i=0;i<data.data.length;i++){

            if(count%2==0){
                var $tr=$('<tr></tr>');
            }else{
                var $tr=$('<tr class="success"></tr>');
            }
            $table.append($tr);

            /*var $td1=$('<td>'+data.data[i]['t_id']+'</td>');
            $tr.append($td1);*/
            var $td2=$('<td>'+data.data[i]['c_no']+'</td>');
            $tr.append($td2);
            var $td3=$('<td>'+data.data[i]['c_no_hw']+'</td>');
            $tr.append($td3);
            var $td4=$('<td>'+data.data[i]['time']+'</td>');
            $tr.append($td4);
            var $td5=$('<td>'+data.data[i]['message']+'</td>');
            $tr.append($td5);
            var $td55=$('<td>'+data.data[i]['c_time']+'</td>');
            $tr.append($td55);
            var $td6=$('<td><button id="'+ data.data[i]['c_no_hw'] +'"  onclick="teacher_delete(this);location.reload();" type="submit" class="btn btn-small btn-warning">' +
                '<i class="glyphicon glyphicon-remove">删除</i></button></td>');
            $tr.append($td6);

            count++;
        }


    }

    <!--上传文件form表单生成函数-->
    function makeForm(){
        var $form=$('<form id="form1" role="form" method="POST" enctype="multipart/form-data" action="http://'+ getLocalIP()+':8080/teacher_upload"></form>');
        $("make_form").append($form);

        var $panel=$('<div class="jumbotron"></div>');

        var $panel1=$('<div class="input-group"></div>');
        var $span=$('<span class="input-group-addon"><i class="glyphicon glyphicon-hand-right"></i></span>');
        var $span2=$('<bbb></bbb>');
        var $span3=$('<input type="hidden" id="t_id" name="t_id" value="'+ Cookies.get('t_id')+'"/>');
        $panel1.append($span);
        $panel1.append($span2);
        $panel1.append($span3);

        var $panel2=$('<div class="form-group"><label>&nbsp;</label><input id="time" name="time" type="text" placeholder="作业次数"></div>');
        var $panel3=$('<div class="form-group"><input id="message" name="message" type="text" placeholder="作业内容介绍"></div>');
        var $panel4=$('<div class="form-group">' +
            '<input name="file" id="file" type="file" multiple/></div>');
        var $panel5=$('<div class="input-group"  style="padding:16px;margin-left:auto;margin-right:auto;">' +
            '<button type="submit" class="btn btn-info" id="btn-upload" onclick="testUpload()">' +
            '<i class="glyphicon glyphicon-cloud-upload">上传</i></button></div>');

        $panel.append($panel1);
        $panel.append($panel2);
        $panel.append($panel3);
        $panel.append($panel4);
        $panel.append($panel5);
        $form.append($panel);
    }

    <!-- 上传文件表单，后端返回的信息处理-->
    function testUpload(){
        $("#form1").ajaxForm(function(data){
            if(data.code==6){
                alert(data.msg);
                location.reload();//重新加载
            }else{
                alert(data.msg);
            }
        });
    }


    <!--老师获取自己上传的作业任务-->
    function getUpload_Info() {
        var Account = Cookies.get('t_account');
        var Id=Cookies.get('t_id' );
        console.log(Account);
        var objJson = {
            "account":Account,
            "id":Id
        };
        if(Account!=null && Account!=""){
            $.post("http://"+ getLocalIP() +":8080/teacher_help_upload",
                JSON.stringify(objJson),
                function(data) {
                    if(data.code==10){
                        console.log(data);
                        getTable_Info(data);
                    }else {
                        alert(data.msg);
                    }
                },
                "JSON"
            )
        }else{
            alert("关键输入为空！");
        }
    }

    <!--老师删除自己上传任务记录-->
    function teacher_delete(obj) {
        var C_no_hw = obj.id;
        var objJson = {
            "c_no_hw":C_no_hw
        };
        console.log(C_no_hw);
        $.post("http://"+ getLocalIP() +":8080/teacher_delete_file",
            JSON.stringify(objJson),
            function(data) {
                if(data.code==8){
                    alert(data.msg);
                    location.reload();//重新加载
                }else{
                    alert(data.msg);
                }
            },
            "JSON"
        )
    }

    <!--生成老师课程的下拉列表，以便上传任务选择-->
    function getSelect_Info() {

        var Id=Cookies.get('t_id' );
        var objJson = {
            "t_id":Id
        };
        if(Id!=null && Id!=""){
            $.post("http://"+ getLocalIP() +":8080/teacher_get_teaching",
                JSON.stringify(objJson),
                function(data) {
                    if(data.code==11){

                        var $select=$('<select class="form-control" name="c_no"  id="c_no"></select>');
                        $("bbb").append($select);
                        var $op0=$('<option>-----请选择课程-----</option>');
                        $select.append($op0);
                        for(var i=0;i<data.data.length;i++){

                            var $op1=$('<option value="'+data.data[i].c_no+'">'+data.data[i].name+'</option>');
                            $select.append($op1);
                        }
                    }else {
                        alert(data.msg);
                    }
                },
                "JSON"
            )
        }else{
            alert("未登陆！");
        }

    }

</script>
</body>
</html>