<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Insert title here</title>
    </head>
<body>

<form method="POST" enctype="multipart/form-data" 
    action="http://localhost:8080/teacher_upload">
	<p>任教姓名：<input type="text" name="t_account" id="t_account"/></p>
    <p>文件选择：<input type="file" name="file" id="file" multiple/></p>
    <p><input type="submit" value="上传" /></p>
</form>

<form method="POST" enctype="multipart/form-data" 
    action="http://localhost:8080/student_download_1">
	<p>任教姓名：<input type="text" name="t_account" id="t_account"/></p>
    <p>文件名：<input type="text" name="file" id="file"/></p>
    <p><input type="submit" value="下载" /></p>
</form>

</body>
</html>